<div id="gengduo" ng-controller="gengduoCtrl">
	<div class="gengduode">更多</div>
	<div class="wenzhang">
			<img src="./image/rrere.png">
			<div class="shangtou">雯风而动buging</div>
			<div class="xiatou">查看或者编辑个人主页</div>
	</div>
	<div class="wenzhang2">
	<div class="yihang"><i class="iconfont">&#xe629;</i><div class="zi">我的关注</div></div>
	<div class="yihang"><i class="iconfont">&#xe609;</i><div class="zi">我的收藏</div></div>
	<div class="yihang"><i class="iconfont">&#xe600;</i><div class="zi">我的草稿</div></div>
	<div class="yihang"><i class="iconfont">&#xe668;</i><div class="zi">最近游览</div></div>
	</div>
<div class="wenzhang3">
	<div class="yihang"><i class="iconfont">&#xe629;</i><div class="zi">夜间模式</div>
		<div class="iconfont icon">&#xe6da;</div>
	</div>
	<div class="yihang"><i class="iconfont">&#xe609;</i><div class="zi">设置</div></div>
	</div>
</div>