<div id="huida" ng-controller="huidaCtrl">

	<div class="huida">
		<div class="zhong">
		<img src="{{images}}" alt="">
			<div class="zhongs">
				<p>{{name}}</p>
				<span>{{biaoyu}}</span>
			</div>
		</div>
		<div class="shang">
			<div class="shangs">
				<a href="#/shouye"><i class="iconfont icon">&#xe671;</i></a>
				<span>回答</span>
				<i class="iconfont iconss">&#xe6de;</i>
				<i class="iconfont icons">&#xe654;</i>
			</div>
			<div class="p">{{title}}</div>
		</div>
		<div class="xia">
			<div class="p">{{neirong}}</div>
		</div>
		
	</div>
</div>