<div id="zh-shanpin">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./image/IMG_6362.PNG" alt="">
        <div class="jinru">
        <a href="#/zhuce" class="zhuce" ng-click="center()">
        <!-- <span ></span> -->
        </a>
        <a href="#/denglv" class="denglv" ng-click="center()">
       <!--  <span></span> -->
        </a>
        </div>
     </div>
        <div class="swiper-slide"><img src="./image/IMG_6363.PNG" alt="">
        <div class="jinru">
         <a href="#/zhuce" class="zhuce" ng-click="center()">
        <!-- <span ></span> -->
       	 </a>
        <a href="#/denglv" class="denglv" ng-click="center()">
       <!--  <span></span> -->
        </a>
        </div>
        </div>
        <div class="swiper-slide"><img src="./image/IMG_6365.PNG" alt="">
		  <div class="jinru">
		  <a href="#/zhuce" class="zhuce" ng-click="center()">
        <!-- <span ></span> -->
        </a>
        <a href="#/denglv" class="denglv" ng-click="center()">
       <!--  <span></span> -->
        </a>
		  </div>
        </div>
    </div>
      <div class="swiper-pagination"></div>
     </div>
  </div>
