<div id="zhbar">
	<ul class="tabs" id="bar">
       <li  >
       <a href="#/shouye" ng-click="title='首页'" ng-class="{active:title=='首页'}" >
       		<i class="iconfont icon">&#xe665;</i>
       	</a>
       </li>
       <li><a href="#/faxian" ng-click="title='发现'" ng-class="{active:title=='发现'}">
       		<i class="iconfont icon">&#xe601;</i>
       	 </a>
       	</li>
       <li><a href="" ng-click="title='通知'" ng-class="{active:title=='通知'}" >
    <i class="iconfont icon icon">&#xe638;</i>
       	</a>
       </li>
       <li ><a href=""  ng-click="title='私信'" ng-class="{active:title=='私信'}"  >
       			<i class="iconfont icon">&#xe61a;</i>
       		</a>
       	</li>
       <li ><a href="#/gengduo"  ng-click="title='更多'" ng-class="{active:title=='更多'}"  >
       			<i class="iconfont icon">&#xe613;</i>
       		</a>
       	</li>
     </ul>
</div>